.breadcrumb {
  font-size: 0.8rem;
  margin: 20px 0 100px 0;
}

.breadcrumb > a {
  text-decoration: none;
  color: #333;
}

.breadcrumb > a:hover {
  color: #ccc;
}

.product__detail {
  display: flex;
  margin-top: 50px;
}

.product__detail-image {
  display: flex;
}

.product__detail-image-main > img {
  width: 540px;
  height: 810px;
  margin: 0 15px 0 0;
}

.product__detail-image-other > img {
  width: 160px;
  height: 240px;
  display: block;
  margin: 0 15px 20px 15px;
}

.product__detail-description {
  margin: 0 15px;
  padding: 0 15px;
}

.product__detail-description a {
  text-decoration: none;
  color: #333;
}

h1.product__privew-name {
  font-weight: 700;
  font-size: 1.5rem;
  margin: 0;
}

p.product__privew-status {
  text-align: right;
  margin: 10px 40px 10px 0;
}

p.product__privew-status > span {
  color: #007bff;
  font-weight: bold;
}

.product__priview-price {
  background-color: #f4f4f4;
  width: 340px;
  height: 50px;
}

.product-detail-price-item {
  text-align: center;
  line-height: 50px;
}

.price__sale-detail {
  color: #2a2a86;
  font-size: 1.4rem;
  font-weight: bolder;
}
.price__default-detail {
  margin: 0 15px;
  font-weight: 300;
}

.price__save {
  background-color: #f10101;
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: 300;
  padding: 5px 4px;
  border-radius: 3px;
}

.product__privew-property {
  font-weight: 600;
  padding: 25px 0 10px 10px;
}

.product__privew-color-item {
  display: flex;
  margin: 0 0 10px 5px;
}

.product-detail-color-item {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 0 3px;
  border: 1px solid #ccc;
}

.product__privew-size-item {
  display: flex;
  margin-left: 5px;
}

.product-detail-size-item {
  font-size: 0.8rem;
  border: 1px solid #ccc;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  text-align: center;
  line-height: 32px;
  background-color: #ebebeb;
  margin: 0 4px;
}

.product__quantity-detail {
  margin-top: 35px;
}

.product__quantity-detail > label {
  margin-right: 10px;
  font-weight: 600;
}

.product__quantity-detail span {
  border: 1px solid #ccc;
  padding: 5px;
}

.product__quantity-detail > span > i {
  font-size: 0.9rem;
}

.product__quantity-detail span:hover {
  cursor: pointer;
}

.product__quantity-detail > input {
  width: 40px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 3px;
}

.input-quantity-detail {
  outline: none;
}

.product__button-detail {
  width: 100%;
  height: 43px;
  text-align: center;
  margin-top: 13px;
  line-height: 43px;
}

.button-add-to-cart {
  background-color: #2a2a86;
  margin-top: 30px;
}

.button-add-to-cart > a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

.button-add-to-cart:hover {
  background-color: #3434a5;
  cursor: pointer;
}

.button-add-to-cart > a:hover {
  color: #fff;
}

.button-buy {
  border: 1px solid #2a2a86;
}

.button-buy > a {
  color: #2a2a86;
  text-transform: uppercase;
  font-weight: bold;
}

.button-buy > a:hover {
  color: #212529;
}

h5.product__related {
  font-size: 1.4rem;
  margin-bottom: 10px;
}
