.layout-content {
  border: 1px solid #ccc;
  background-color: #fff;
  height: auto;
}

.layout-content-padding {
  padding: 25px;
}

.list-cate {
  float: right;
  position: relative;
  top: -30px;
}
